<h2>{{continent}}</h2>

<table>
  <tr *ngFor="let country of countries">
    <td>
      <div class="padding-bottom">
        <img [routerLink]="['/country', country.name]" class="flag" src="{{country.flag}}">
        <div class="country-name">
          <a (click)="onclick(country.name)"> {{country.name}}</a>
        </div>
        <div>
          <button mat-raised-button color="primary">edit country</button>
          <button mat-raised-button color="warn">delete country</button>
        </div>
      </div>
    </td>
  </tr>
</table>
