<table class="full-width">
  <tr>
    <td>
      <app-continent [continent]="'Africa'"></app-continent>
    </td>
    <td>
      <app-continent [continent]="'Americas'"></app-continent>
    </td>
    <td>
      <app-continent [continent]="'Asia'"></app-continent>
    </td>
  </tr>
  <tr>
    <td>
      <app-continent [continent]="'Europe'"></app-continent>
    </td>
    <td>
      <app-continent [continent]="'Oceania'"></app-continent>
    </td>
    <td>
      <app-continent [continent]="'Polar'"></app-continent>
    </td>
  </tr>
</table>
